/* About.css */

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 150px;
  width: 80%;
  margin: auto;

  color: #CBD5E1;
    /* You can add more styles as needed */
  }
  
  .left-section {
    text-align: left;
  }
  
  .right-section {
    position: relative;
  }
  
  .profile-photo {
    width: 300px; /* Adjust the size as needed */
     /* Adjust the size as needed */
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .profile-photo:hover {
    box-shadow: rgba(27, 200, 231, 0.3) 0px 19px 38px, rgb(255, 255, 255) 0px 15px 12px;
  }


  
.resume-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #fbfcfc; /* Change the color as desired */
    color: #1b7cb8;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .resume-button:hover {
    background-color: #2980b9; /* Change the hover color as desired */
    color: #fafcfd;
  }
  

  .welcome{
    font-size: 50px;
  }
  .myname{
    
    font-size: 40px;
    margin-bottom: 30px;
  }
  .center{
    text-align: center;
  }
  .thought{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
  }

.myname:hover{
  color: rgb(235, 168, 129);
 
}
  .self-description {
    width: 80%;
    padding: 30px;
    margin: 30px auto;
   
   color: #CBD5E1;
    border-radius: 10px;
  }
  
  .media{
    display: flex;
    gap: 15px;
  }
  .linkeDin{
    margin-top: 20px;
    width: 35px;
    border-radius: 50%;
  }

  .linkeDin:hover{
    box-shadow:  rgb(255, 255, 255) 0px 2px 10px;
  }
  /* Media Queries for responsiveness */
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .about-container {
      flex-direction: column; /* Stack items vertically on medium screens */
    }
  
    .left-section {
      text-align: center; /* Center text on medium screens */
      margin-bottom: 20px;
    }
  
    .right-section {
      margin-top: 20px;
    }
    /* //fonts */
    .welcome{
      font-size: 40px;
    }
    .myname{
      
      font-size: 30px;
    }
    .center{
      text-align: center;
    }
    .thought{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
      margin-top: 10px;
    }
    .linkeDin{
      margin-top: 20px;
      width: 25px;
    }
  }
  
  @media all and (min-width: 517px) and (max-width: 767px) {
    .about-container {
        flex-direction: column; /* Stack items vertically on medium screens */
      }
    
      .left-section {
        text-align: center; /* Center text on medium screens */
        margin-bottom: 20px;
      }
    
      .right-section {
        margin-top: 20px;
      }
       /* //fonts */
    .welcome{
      font-size: 40px;
    }
    .myname{
      
      font-size: 30px;
    }
    .center{
      text-align: center;
    }
    .thought{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 15px;
      margin-top: 10px;
    }
    
.media{

  margin-left: 130px;
}
    }
  @media all and (max-width: 516px) {
    .about-container {
        flex-direction: column; /* Stack items vertically on medium screens */
      }
      .profile-photo{
        width: 200px;
      }
      .left-section {
        text-align: center; /* Center text on medium screens */
        margin-bottom: 20px;
      }
    
      .right-section {
        margin-top: 20px;
      }
        /* //fonts */
    .welcome{
      font-size: 30px;
    }
    .myname{
      
      font-size: 20px;
    }
    .center{
      text-align: center;
    }
    .thought{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 12px;
      margin-top: 10px;
    }
    .linkeDin{
      margin-top: 20px;
      width: 25px;
    }
    .media{
      margin-left: 110px;
    }
   
  }
  